[project]
	description = A lightweight,high-performance and easy-to-learn javascript MVVM framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gavin (ghu212)
[access "refs/for/refs/*"]
	read = group user/Gavin (ghu212)
	push = group user/Gavin (ghu212)
	label-Code-Review = -2..+2 group user/Gavin (ghu212)
	label-Verified = -1..+1 group user/Gavin (ghu212)
	rebase = group user/Gavin (ghu212)
	removeReviewer = group user/Gavin (ghu212)
	submit = group user/Gavin (ghu212)
[access "refs/heads/*"]
	read = group user/Gavin (ghu212)
	create = group user/Gavin (ghu212)
	push = +force group user/Gavin (ghu212)
	pushMerge = group user/Gavin (ghu212)
[access "refs/tags/*"]
	push = group user/Gavin (ghu212)
	push = +force group user/Gavin (ghu212)
